@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/common.scss';
@import '../../../../assets/styles/forms.scss';

.register-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.form-container{
    width: 60%;
    z-index: 10;
    @extend .white-container;

    @media(max-width: 900px){width: 100%}
    @media(max-width: 600px){
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .controls{
        display: inline;
        margin-left: 2%;
    }
}

input{
    @extend .form-input;
    width: 38%;

    @media(max-width: 600px){
        width: 70%;
        margin-top: 3%;
    }
    
    @media(max-height: 850px) and (min-width: 600px){
        width: 50%;
        margin-top: 3%;
    }
}

p{
    color: var(--primary-dark-blue);
    font-family: var(--secondary-font-family);
}