<main>
  <div class="main">
    <div class="nav">
      <ul>
        <li (click)="changeDisplay('orders')"><img class="icon" src="/assets/icons/cart2.png" alt="orders" /></li>
        <li (click)="changeDisplay('profile')"><img class="icon" src="/assets/icons/profile.png" alt="profile" /></li>
        <li (click)="changeDisplay('addresses')"><img class="icon" src="/assets/icons/home.png" alt="addresses" /></li>
      </ul>
    </div>
    <div class="items">
      <app-orders [orders]="orders" [addresses]="addresses" [error]="ordersError" *ngIf="display.orders"
        (changeDisplayEmitter)="changeDisplay('address')" (refreshOrderEmitter)="getOrderHistory()"></app-orders>
      <app-addresses *ngIf="display.addresses" [addresses]="addresses" [error]="addressesError"></app-addresses>
      <app-profile [profile]="profile" *ngIf="display.profile" [error]="profileError"></app-profile>
    </div>
  </div>
</main>