@import '../../../assets/styles/common.scss';

.main{
    width: 100%;
    margin: 2% auto;
    min-height: 80vh;
    max-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.container{
    width: 100%;
    @extend .flex-container;
    flex-direction: row;
    max-height: 80vh;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nav{
    margin-left: 3%;
    margin-bottom: 3%;
    width: 95%;

    ul{
        display: flex;
        flex-direction: row;

        li{
            border-radius: 50%;
            background-color: var(--primary-light-blue);
            width: 3.5rem;
            height: 3.5rem;
            margin-right: 2%;

            @media(max-width: 550px){
                width: 3rem;
                height: 3rem;
            }

            .icon{
                margin-top: 10%;
                @media(max-width: 550px){margin-top: 13%;}
            }
        }
    }
}