@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

main{
    flex: 1 0 auto;
    width: 100%;
}

.content{
    background-image: url('/assets/spices.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 660px;

    h1, h2, h3{
        color: white;
        display: inline;
    }

    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        @media(max-width: 700px){font-size: 0.95rem;}
    }

    section{
        margin-top: 6%;
        scroll-margin: 160px;

        button{
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.2rem;

            @media(max-width: 700px){
                font-size: 1rem;
                width: 60%;
                margin: auto;
                margin-top: 3%;
            }
        }
    }
}

.services{
    margin-top: 6%;
}

.text-div{
    padding-top: 200px;
    width: 60%;
    margin: auto;

    @media(max-width: 700px){width: 80%;}
}

.delivery-driver{
    margin-left: 5%;
}