<app-header [display]="navService.displaySidenav" (openNavEmitter)="navService.openNav()"></app-header>
<app-side-nav [display]="navService.displaySidenav" (closeNavEmitter)="navService.closeNav()"></app-side-nav>
<main>
    <div class="image">
        <div class="buttons">
            <button class="yellow-button" (click)="openForm('homeChef')" *ngIf="role == 1">Register as a Home
                Chef</button>
            <button class="delivery-driver yellow-button" (click)="openForm('driver')" *ngIf="role == 1">Register
                as
                a Delivery Driver</button>
        </div>
    </div>
    <section id="services" class="services">
        <app-our-services></app-our-services>
    </section>
    <section id="aboutUs" class="about-us">
        <app-about-us></app-about-us>
    </section>
    <section id="categories" class="categories">
        <h1>MEAL CATEGORIES</h1>
        <app-meal-categories (errorEmitter)="snackbar.open($event, 'snackbar-error')"></app-meal-categories>
    </section>
    <app-footer (registerHomeChefEmitter)="openForm('homeChef')"></app-footer>
</main>
<app-home-chef-register *ngIf="displayRegisterHomeChef"
    (openSnackbarEmitter)="snackbar.open($event.message, $event.class)" (closeFormEmitter)="closeForm('homeChef')">
</app-home-chef-register>
<app-delivery-register *ngIf="displayRegisterDeliveryDriver"
    (openSnackbarEmitter)="snackbar.open($event.message, $event.class)" (closeFormEmitter)="closeForm('driver')">
</app-delivery-register>
<app-snackbar></app-snackbar>