<app-header (openCartEmitter)="openCart()"></app-header>
<app-cart *ngIf="cart" (openSnackbarEmitter)="snackbar.open($event.message, $event.class)"></app-cart>

<main>
  <div class="image">
    <div class="buttons">
      <button class="yellow-button" (click)="openForm('homeChef')" *ngIf="role == 1">
        Register as a Home Chef
      </button>
      <button class="delivery-driver yellow-button" (click)="openForm('driver')" *ngIf="role == 1">
        Register as a Delivery Driver
      </button>
    </div>
  </div>
  <section id="services">
    <app-our-services></app-our-services>
  </section>
  <section id="aboutUs">
    <app-about-us></app-about-us>
  </section>
  <section id="categories">
    <app-meal-categories (openSnackbarEmitter)="snackbar.open($event.message, $event.class)"></app-meal-categories>
  </section>
</main>

<app-footer (openFormEmitter)="openForm($event)"></app-footer>

<app-modal [modalSubscription]="modalSubject.asObservable()"> </app-modal>
<app-snackbar></app-snackbar>