@import '../../../assets/styles/common.scss';

.modal{
    @extend .flex-container;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.container{
    width: 60%;
    z-index: 10;
    @extend .white-container;

    @media(max-width: 1100px){width: 80%;}
    @media(max-width: 900px){width: 100%}
    @media(max-width: 600px){
        width: 100%;
        height: 100%;
        padding: 0;
        overflow-y: scroll;
    }

    img{
        display: none;
        @media(max-width: 600px){
            display: block;
            display: flex;
            align-self: flex-start;
            position: fixed;
            top: 2%;
            right: 2%;
        }
    }
}