<div class="meals-container">
    <app-loader *ngIf="loading && !error"></app-loader>
    <div *ngIf="!loading && !error" class="meals-table">
        <h2>Your Products</h2>
        <table *ngIf="products.length != 0">
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>R{{product.price}}</td>
                <td>{{product.minPrepareTime}} minutes</td>
                <td><img class="icon" src="/assets/icons/trash.png" alt="remove_product"
                        (click)="removeProduct(product)" />
                </td>
            </tr>
        </table>
        <div *ngIf="products.length == 0">
            <h4>Add products to your business</h4>
        </div>
        <div class="add-product">
            <button (click)="openForm()">+</button>
        </div>
    </div>
    <h3 *ngIf="!loading && error">An error occurred loading your products</h3>
</div>