@import '../../../../../assets/styles/table.scss';

.meals-container{
    width: 100%;
    h2{
        font-family: var(--secondary-font-family);
    }
}

.meals-table{
    @extend .table-container;
    tr {background-color: rgb(240, 240, 240);}
}

.add-product{
    width: 100%;
    text-align: end;

    button{
        width: 35%;
        margin-bottom: 2%;
        font-size: 2.2rem;
        border-radius: 50%;
        color: white;
        width: 44px;
        border: none;
        background-color: var(--primary-dark-blue);
        margin-right: 2%;
        margin-top: 4%;
        align-self: flex-end;
    
        &:hover{
            box-shadow: var(--primary-box-shadow);
            cursor: pointer;    
        }
    
        @media(max-width: 600px){
            font-size: 1.8rem;
            width: 38px;
            margin-top: 6%;
            margin-bottom: 0;
        }
    }
}