<div class="form-container">
    <h1>ADD MEAL</h1>
    <form [formGroup]="addProductForm" (ngSubmit)="addMeal()">
        <div class="form-group">
            <div class="controls">
                <input type="text" id="name" placeholder="Meal Name" class="form-control full-width"
                    formControlName="name" />
                <p class="error"
                    *ngIf="addProductForm.controls.name.errors?.required && addProductForm.controls.name.touched">
                    Meal Name is Required
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" id="description" placeholder="Description" class="form-control full-width"
                    formControlName="description" />
                <p class="error"
                    *ngIf="addProductForm.controls.description.errors?.required && addProductForm.controls.description.touched">
                    Description is Required
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="number" min="0" id="price" placeholder="Price" class="form-control"
                    formControlName="price" />
                <p class="error"
                    *ngIf="addProductForm.controls.price.errors?.required && addProductForm.controls.price.touched">
                    Price is Required
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="number" min="0" id="minPrepareTime" placeholder="Prep Time" class="form-control"
                    formControlName="minPrepareTime" />
                <p class="error"
                    *ngIf="addProductForm.controls.minPrepareTime.errors?.required && addProductForm.controls.minPrepareTime.touched">
                    Prep time is Required
                </p>
            </div>
        </div>

        <div class="form-group">
            <button class="button yellow button-spacing" type="submit" [disabled]="addProductForm.invalid">ADD
                PRODUCT</button>
        </div>
    </form>
</div>