@import '../../../../../../../assets/styles/common.scss';
@import '../../../../../../../assets/styles/forms.scss';

.form-container{
    .controls{
        display: inline;
        margin-left: 2%;
    }
}

input{
    @extend .form-input;
    width: 70%;

    // @media(max-width: 850px){
    //     width: 70%;
    //     margin-top: 3%;
    // }
    // @media(max-height: 850px){
    //     width: 50%;
    //     margin-top: 3%;
    // }
}