<div class="meals-container">
    <h3>Your Meals</h3>
    <div class="meals-table">
        <table>
            <tr *ngFor="let meal of meals">
                <td class="meal-name">{{meal.name}}</td>
                <td>{{meal.description}}</td>
                <td>R{{meal.price}}</td>
                <td>{{meal.minPrepareTime}} minutes</td>
                <td><img class="delete" src="/assets/icons/grey-icons/trash.svg" alt="delete" /></td>
            </tr>
        </table>
    </div>
    <button (click)="openForm()">+</button>
</div>