@import '../../../../../../assets/styles/table.scss';
@import '../../../../../../assets/styles/common.scss';

.meals-container{
    border-radius: 6px;
    @extend .white-container;
    text-align: center;
    padding: 25px;
    margin-top: 2%;

    h2, td{
        font-family: var(--secondary-font-family);
    }
}

.meals-table{
    overflow-y: scroll;
    width: 100%;

    table{
        width: 95%;
        max-height: 40vh;
        border-spacing: 0 8px;
    }

    tr {
        background-color: rgb(240, 240, 240);
    }

    .meal-name{
        color: white;
        background-color: var(--primary-green);
        border-radius: 6px;
        padding: 10px;
    }

    .description{
        @media(max-width: 850px){display: none;}
    }
}

.add-product{
    width: 100%;
    text-align: end;

    button{
        width: 35%;
        margin-bottom: 2%;
        font-size: 2.2rem;
        border-radius: 50%;
        color: white;
        width: 44px;
        border: none;
        background-color: var(--primary-dark-blue);
        margin-right: 2%;
        margin-top: 4%;
        align-self: flex-end;
    
        &:hover{
            box-shadow: var(--primary-box-shadow);
            cursor: pointer;    
        }
    
        @media(max-width: 600px){
            font-size: 1.8rem;
            width: 38px;
            margin-top: 6%;
            margin-bottom: 0;
        }
    }
}