<div class="meals-container">
    <h2>Your Products</h2>
    <div *ngIf="products !== null && products.length != 0" class="meals-table">
        <table>
            <tr *ngFor="let meal of products">
                <td>
                    <p class="meal-name">{{meal.name}}</p>
                </td>
                <td class="description">{{meal.description}}</td>
                <td>R{{meal.price}}</td>
                <td>{{meal.minPrepareTime}} minutes</td>
                <td><img class="delete" src="/assets/icons/trash.png" alt="delete" (click)="removeProduct(meal)" /></td>
            </tr>
        </table>
    </div>
    <div *ngIf="products == null || products.length == 0">
        <h4>Add products to your business</h4>
    </div>
    <div class="add-product">
        <button (click)="openForm()">+</button>
    </div>
</div>