@import '../../../../assets/styles/common.scss';
@import '../../../../assets/styles/forms.scss';

.form-container{
    .controls{
        display: inline;
        margin-left: 2%;
    }
}

input{
    @extend .form-input;
    width: 38%;

    @media(max-width: 600px){
        width: 70%;
        margin-top: 3%;
    }
    
    @media(max-height: 850px) and (min-width: 600px){
        width: 50%;
        margin-top: 3%;
    }
}

p{
    color: var(--primary-dark-blue);
    font-family: var(--secondary-font-family);
    padding: 6%;
}