@import '../../../../assets/styles/common.scss';

.form-container{
    .controls{
        display: inline;
        margin-left: 2%;
    }

    h1{
        padding: 1%;
        @media(max-width: 600px){padding: 0;}
    }

    @media(max-width: 600px){margin-top: 10%;}
    @media(max-width: 400px){margin-top: 20%;}
}

input{
    @extend .form-input;
    width: 38%;

    @media(max-width: 600px){
        width: 70%;
        margin-top: 3%;
    }
    
    @media(max-height: 850px) and (min-width: 600px){
        width: 50%;
        margin-top: 3%;
    }
}

button[type=submit]{
    margin-top: 4%;
}