.dashboard{
    width: 100%;
    min-height: 80vh;

    .headings{
        width: 90%;
        margin: 8% auto auto;
    }

    .business-name{
        margin-bottom: 0px;
    }

    .user-name{
        color: grey;
        margin-top: 0px;
    }
}

.spacer{
    width: 2%;
}