@import '../../../assets/styles/common.scss';

.form-container{
    width: 60%;
    @extend .white-container;

    @media(max-width: 900px){
        width: 100%;
        height: 100%;
        padding: 0;
        background-image: url('/assets/images/login-signup.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

input{
    @extend .form-input;
    width: 40%;

    @media(max-width: 850px){width: 70%;}
    @media(max-height: 850px) and (min-height: 1000px){width: 50%;}
}

.error{
    margin-top: 3%;
}

.login-signup-image{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/login-signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}