@import '../../../assets/styles/variables.css';
@import '../../../assets/styles/common.css';

h1{
    font-size: 3rem;
    @media(max-width: 850px){font-size: 2rem;}
}

h1, h4, h5{
    font-family: var(--primary-font-family);
    color: var(--primary-dark-blue);
}

h4{
    font-weight: bolder;
}

h4:hover{
    font-size: 1.1rem;
    cursor: pointer;
}

.error{
    color: var(--primary-error);
}

.form-container{
    width: 60%;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 25px 0px rgba(112,112,112,1);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: 850px){
        width: 100%;
        height: 80%;
        padding: 0;
    }
}

form{
    margin-top: 6%;
    width: 100%;
    margin-top: 0;
}

.form-group{
    margin-top: 2%;
}

input[type="text"], input[type="password"]{
    border: 1px solid var(--primary-dark-blue);
    border-radius: 8px;
    font-size: 1rem;
    padding: 10px;
    width: 40%;

    @media(max-width: 850px){width: 70%;}
    @media(max-height: 850px) and (min-height: 1000px){width: 50%;}
}

input::placeholder{
    color: var(--primary-dark-blue);
}

input[type="submit"]{
    width: 40%;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 1rem;
    font-weight: bold;
}

.login-signup-image{
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}