@import './variables.scss';

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    @media(max-width: 850px){font-size: 2rem;}
}

h1, h2, h3, h4, h5{
    font-family: var(--primary-font-family);
    color: var(--primary-dark-blue);
}

h4{
    font-weight: bolder;
    &:hover{
        font-size: 1.1rem;
        cursor: pointer;
    }
}

.blue-outline{
    border: 1.2px solid var(--primary-light-blue);
    border-radius: 6px;
    padding: 5px 10px 5px 10px;

    &:hover{
        background-color: var(--primary-light-blue);
    }
}

.yellow-button{
    background-color: var(--primary-yellow);
    color: var(--primary-dark-blue);
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    font-family: var(--primary-font-family);

    &:hover{
        box-shadow: var(--primary-box-shadow);
        cursor: pointer;
    }
}

.back-button{
    background-image: url('/assets/icons/grey-icons/back.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: var(--primary-light-grey);

    &:hover{
        width: 44px;
        cursor: pointer;
    }
}

.error{
    color: var(--primary-error-label);
    font-family: var(--secondary-font-family);
}

.white-container{
    background-color: white;
    border: none;
    box-shadow: var(--primary-box-shadow);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    flex-direction: column;
    @extend .flex-container;
}

.green-container{
    border: none;
    background-color: var(--primary-green);
    width: 100%;
    display: flex;
    align-items: center;
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-light-blue);
    position: absolute;
    top: 0;
    opacity: 0.9;
    z-index: 4;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;

    li{
        a{
            color: white;
            text-decoration: none;
            font-family: var(--secondary-font-family);
        }

        &:hover{
            font-weight: bold;
            cursor: pointer;
        }
    }
}