@import './forms.scss';
@import './map.scss';

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;

    li{
        a{
            color: white;
            text-decoration: none;
            font-family: var(--secondary-font-family);
        }

        &:hover{
            font-weight: bold;
            cursor: pointer;
        }
    }
}

h1{
    font-size: 3rem;
    @media(max-width: 920px){font-size: 2.5rem;}
    @media(max-width: 850px){font-size: 2rem;}
    @media(max-width: 600px){font-size: 1.4rem;}
}

h2{
    font-size: 2rem;
    @media(max-width: 900px){font-size: 1.2rem;}
    @media(max-width: 750px){font-size: 1.1rem;}
    @media(max-width: 600px){font-size: 1rem;}
}

h3{
    font-size: 1rem;
    @media(max-width: 850px){font-size: 0.9rem;}
    @media(max-width: 600px){font-size: 0.8rem;}
}

h4{
    font-size: 0.9rem;
    @media(max-width: 600px){font-size: 0.7rem;}
}

h1, h2, h3, h4, h5{
    font-family: var(--primary-font-family);
    color: var(--primary-dark-blue);
}

.button{
    background-color: white;
    color: var(--primary-dark-blue);
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    font-family: var(--primary-font-family);

    &:hover{
        box-shadow: var(--primary-box-shadow);
        cursor: pointer;
    }

    &:disabled{
        background-color: rgb(167, 167, 167);
        color: white;

        &:hover{
            box-shadow: none;
        }
    }

    @media(max-width: 600px){font-size: 0.8rem;}
}

.yellow{
    background-color: var(--primary-yellow);
    margin-top: 4%;
    margin-bottom: 4%;
    width: 30%;
    @media(max-width: 400px){width: 40%;}
}

.light-blue{
    background-color: var(--primary-light-blue);
}

.back-button{
    background-image: url('/assets/icons/grey-icons/back.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: var(--primary-light-grey);

    &:hover{
        width: 44px;
        cursor: pointer;
    }
}

.error{
    color: var(--primary-error-label);
    font-family: var(--secondary-font-family);
}

.white-container{
    background-color: white;
    border: none;
    box-shadow: var(--primary-box-shadow);
    text-align: center;
    flex-direction: column;
    @extend .flex-container;
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-light-blue);
    position: absolute;
    top: 0;
    opacity: 0.9;
    z-index: 4;
}

.login-signup-image{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/login-signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}