table {
  text-align: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-collapse: separate;

  tr {
    box-shadow: var(--primary-box-shadow);
    border-radius: 6px;
    background-color: white;
  }

  td {
    font-size: 1.1rem;
    font-family: var(--secondary-font-family);
    padding: 16px;

    @media (max-width: 900px) {font-size: 0.9rem; padding: 12px;}
    @media (max-width: 600px) {font-size: 0.8rem; padding: 8px;}
  }

  .disabled {
    background-color: var(--primary-medium-grey) !important;
    opacity: 0.5;

    .icon {
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
