:root{
    --primary-green: #62874C;
    --primary-yellow: #F4D885;
    --primary-dark-blue: #022449;
    --primary-light-blue: #80a5a6;
    --primary-light-grey: #f7f7f7;
    --primary-medium-grey: #969696;
    --primary-dark-grey: #686868;

    --primary-error-label: rgb(150, 29, 29);

    --primary-error: rgb(223, 79, 79);
    --primary-success: rgb(93, 173, 93);

    --primary-font-family: 'Exo';
    --primary-box-shadow: 3px 3px 5px 0px rgb(161, 161, 161);

    --secondary-font-family: 'Arial';
}