:root{
    --primary-green: #62874C;
    --primary-yellow: #F4D885;
    --primary-dark-blue: #022449;

    --primary-error: rgb(150, 29, 29);

    --primary-font-family: 'Exo';
    --primary-box-shadow: 3px 3px 5px 0px rgb(161, 161, 161);
}