@import '../admin.component.scss';
@import '../../../../assets/styles/table.scss';

.business{
    @extend .container;
    width: 95%;
    margin: auto;

    .businesses, .pending-businesses{
        @extend .white-container;
        width: 100%;
        margin-bottom: 4%;
        max-height: 60vh;
        overflow: scroll;
        margin-bottom: 4%;
    }
}

.pending-table, .business-table{
    @extend .table-container;
    tr {background-color: rgb(240, 240, 240);}
}

.open {
    background-color: var(--primary-success);
    width: 3rem;
}
  
.closed {
    background-color: var(--primary-error);
    width: 3.5rem;
}
  
.pending {
    background-color: var(--primary-yellow);
    width: 9rem;
}
  
.open,
.closed,
.pending {
    border-radius: 0.375rem;
    color: white !important;
    padding: 0.3rem;

    &:hover{
        cursor: pointer;
    }
}