.who-are-we{
    background-image: url('/assets/images/about-us.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 960px;

    @media(max-width: 1500px){
        height: 760px;
    }

    @media(max-width: 900px){
        background-size: contain;
        height: 440px;
    }

    @media(max-width: 600px){
        background: none;
        height: auto;
    }

    h1{
        text-align: center;
    }
}

.text{
    width: 55%;
    text-align: left;
    margin-left: 5%;

    @media(max-width: 700px){width: 80%;}

    h1, h2, h3{
        display: inline;
    }
    
    h3{
        font-family: var(--secondary-font-family);
        font-size: 1.4rem;
        @media(max-width: 850px){font-size: 0.95rem;}
    }
}