.who-are-we{
    background-image: url('/assets/images/about-us.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 960px;

    @media(max-width: 1500px){height: 760px;}
    @media(max-width: 1200px){background-size: contain;}
    @media(max-width: 1100px){height: 600px;}
    @media(max-width: 960px){height: 530px;}
    @media(max-width: 820px){height: 450px;}

    @media(max-width: 720px){
        background: none;
        height: auto;
    }

    h1{
        text-align: center;
    }
}

.text{
    width: 48%;
    text-align: left;
    margin-left: 5%;

    @media(max-width: 720px){width: 90%;}

    h1, h2, h3{
        display: inline;
    }
    
    h3{
        font-family: var(--secondary-font-family);
        font-size: 1.4rem;

        @media(max-width: 1100px){font-size: 1rem;}
        @media(max-width: 850px){font-size: 0.95rem;}
    }

    section{
        margin-bottom: 6%;
    }
}