.who-are-we{
    position: relative;
}

.img{
    width: 100%;
    height: auto;
    @media(max-width: 750px){display: none;}
}

h1{
    text-align: center;
    margin-bottom: 4%;
}

.text{
    width: 48%;
    text-align: left;
    margin-left: 5%;
    position: absolute;
    top: 6%;

    @media(max-width: 750px){
        width: 90%;
        position: relative;
    }

    h1, h2, h3{
        display: inline;
    }
    
    h3{
        font-family: var(--secondary-font-family);
        font-size: 1.4rem;

        @media(max-width: 1100px){font-size: 1rem;}
        @media(max-width: 850px){font-size: 0.95rem;}
    }

    section{
        margin-bottom: 6%;
    }
}