@import '../../../../assets/styles/common.scss';

.category{
    width: 96%;
    margin: auto;
    margin-bottom: 2%;
    min-height: 80vh;
    max-height: 80vh;
    text-align: center;
    margin-top: 2%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

app-loader{
    position: absolute;
    margin: auto;
    margin-top: 14%;
}

.buttons {
    text-align: start;
    display: flex;
    overflow-x: scroll;

    button{
        margin-left: 15px;
        border-radius: 6px;
        display: flex;
        align-items: center;

        img{
            padding-right: 10px;
        }
    }
    
    .active{
        background-color: var(--primary-light-blue) !important;
        color: white;
    }
}

.businesses{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    div{
        width: 300px;
        height: 240px;
        @extend .flex-container;
        box-shadow: var(--primary-box-shadow);
        background-color: white;
        margin: 8px 8px 8px 8px;
        padding: 10px;

        @media(max-width: 900px){
            width: 180px;
            height: 180px;
        }

        @media(max-width: 700px){
            width: 145px;
            height: 140px;
        }

        @media(max-width: 500px){
            width: 92%;
            height: 60px;
        }

        h2{
            background-color: white;
            width: 100%;
            text-align: center;
            overflow-wrap: break-word;
        }

        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
    }
}
