<app-header [display]="navService.displaySidenav" (openNavEmitter)="navService.openNav()"></app-header>
<app-side-nav [display]="navService.displaySidenav" (closeNavEmitter)="navService.closeNav()"></app-side-nav>
<main>
    <h1>{{category}}</h1>
    <section class="category-table">
        <table>
            <tr *ngFor="let business of businesses">
                <td>{{business.name}}</td>
            </tr>
        </table>
    </section>
    <app-meal-categories [removeCategory]="category" (errorEmitter)="snackbar.open($event, 'snackbar-error')">
    </app-meal-categories>
    <br /><br />
    <app-footer (registerHomeChefEmitter)="registerHomeChef()"></app-footer>
</main>
<app-home-chef-register *ngIf="displayRegisterHomeChef" (closeFormEmitter)="closeRegisterBusinessForm()">
</app-home-chef-register>
<app-snackbar></app-snackbar>