<main>
  <app-spinner *ngIf="businesses.length == 0"></app-spinner>
  <div class="buttons">
    <button class="yellow-button" *ngFor="let item of categories" [ngClass]="{ active: item.name == category.name }"
      (click)="changeCategory(item)">
      {{ category.name }}
    </button>
  </div>
  <div class="businesses" *ngIf="!displayBusiness">
    <div *ngFor="let business of businesses" (click)="openBusiness(business)">
      <h2>{{ business.name }}</h2>
    </div>
  </div>
  <h2 *ngIf="error">
    There was an error loading the businesses in this category. Please try again
    later.
  </h2>
  <app-business [business]="business" [category]="category" (backEmitter)="hideBusiness()" *ngIf="displayBusiness"
    (openSnackbarEmitter)="openSnackbar($event)"></app-business>
</main>