<app-header [display]="displaySidenav" (openNavEmitter)="openNav()"></app-header>
<app-side-nav [display]="displaySidenav" (closeNavEmitter)="closeNav()"></app-side-nav>
<main #content>
    <h1>{{category}}</h1>
    <section class="category-table">
        <table>
            <tr *ngFor="let business of businesses">

            </tr>
        </table>
    </section>
    <app-footer (registerHomeChefEmitter)="registerHomeChef()"></app-footer>
</main>
<app-home-chef-register *ngIf="displayRegisterHomeChef" (closeFormEmitter)="closeRegisterBusinessForm()">
</app-home-chef-register>