@import  '../../../../assets/styles/variables.css';

h1{
    color: var(--primary-dark-blue);
    font-family: var(--primary-font-family);
    font-size: 3rem;

    @media(max-width: 850px){font-size: 2rem;}
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div{
        width: 240px;
        height: 240px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px 20px 10px 20px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 5px 0px rgb(207, 207, 207);

        h2{
            background-color: white;
            font-family: var(--primary-font-family);
            width: 100%;
            padding: 10px;
        }
    }
}