@import '../../../../../assets/styles/common.scss';
@import '../../../../../assets/styles/map.scss';
@import '../../../../../assets/styles/table.scss';

.addresses{
  width: 100%;
  @extend .flex-container;
  flex-direction: column;

  .container{
    width: 95%;
    @extend .white-container;

    div{
      width: 100%;
    }
  }
}

.addresses-table {
  max-height: 40vh;
  overflow: scroll;

  table {
    width: 92%;
    border-spacing: 0 8px;

    .icon{
      margin-top: 11%;
      @media(max-width: 600px){margin-top: 0; width: 2.2rem;}
    }
  }
}

.map{
  width: 100%;
  @media(max-width: 840px){height: 300px;}
  @media(max-width: 550px){height: 350px;}
  @media(max-width: 480px){height: 300px;}
}