<div class="addresses">
    <div class="address">
        <app-loader *ngIf="loading && !error"></app-loader>
        <div *ngIf="!loading && addresses.length != 0 && !error" class="addresses-table">
            <h2>Your Addresses</h2>
            <table>
                <tr *ngFor="let address of addresses">
                    <td>{{address.address}}</td>
                    <td><img class="icon" src="/assets/icons/trash.png" alt="remove_address"
                            (click)="removeAddress(address)" />
                    </td>
                </tr>
            </table>
        </div>
        <h3 *ngIf="!loading && error">An error occurred loading you addresses</h3>
    </div>
    <div class="add-address">
        <div class="address-map">
            <h2>Add an address to your account:</h2>
            <div class="map">
                <app-map [type]="'address'"></app-map>
            </div>
            <button class="button yellow button-spacing" (click)="addAddress()">Add Address</button>
        </div>
    </div>
</div>