@import '../../../../../assets/styles/common.scss';
@import '../../../../../assets/styles/map.scss';
@import '../../../../../assets/styles/table.scss';
@import '../account.component.scss';

.addresses{
  @extend .container;

  .view-address, .add-address{
    width: 48%;
    max-height: 70vh;
    @extend .white-container;
    @media(max-width: 1000px){
      width: 95%; 
      margin-bottom: 4%;
    }
  }
}

.address-map{
  width: 100%;
  .map{
    width: 100%;
    height: 20rem;
  }
}

.addresses-table {
  width: 100%;
  max-height: 40vh;
  overflow: scroll;

  table {
    width: 92%;
    border-spacing: 0 8px;
  }

  tr {
    background-color: rgb(240, 240, 240);
  }
}