.orders-container{
    box-shadow: var(--primary-box-shadow);
    border-radius: 6px;
    background-color: white;
    text-align: center;
    padding: 25px;
    margin-top: 2%;

    h3{
        font-size: 1.3rem;
    }

    h3, td{
        font-family: var(--secondary-font-family);
    }
}

.orders-table{
    padding: 30px;
    overflow-y: scroll;
    min-height: auto;
    max-height: 300px;

    table{
        border-collapse: separate;
        border-spacing: 14px;
    }

    table td{
        padding: 4px 30px 4px 30px;
    }
}