@import '../../../../../../assets/styles/table.scss';
@import '../../../../../../assets/styles/common.scss';

.orders-container{
    border-radius: 6px;
    text-align: center;
    padding: 25px;
    margin-top: 2%;
    @extend .white-container;

    h2, td{
        font-family: var(--secondary-font-family);
    }
}

.orders-table{
    padding: 30px;
    overflow-y: scroll;
    min-height: auto;
    max-height: 40vh;

    table{
        border-collapse: separate;
        border-spacing: 14px;
    }

    table td{
        padding: 4px 30px 4px 30px;
    }
}