<div class="orders">
    <app-loader *ngIf="loading && !error"></app-loader>
    <div *ngIf="!loading && !error" class="orders-table">
        <h2>Your Orders</h2>
        <table *ngIf="orders.length !== 0">
            <tr *ngFor="let order of orders">
                <td>Order Number {{order.OrderId}}</td>
                <td>{{order.Name}}</td>
                <td>{{order.quantity}}</td>
                <td (click)="completeOrder(order)"><img class="icon" src="/assets/icons/checked.png"
                        alt="complete_order" /></td>
            </tr>
        </table>
        <div *ngIf="orders.length === 0">
            <h4>You don't have an orders currently</h4>
        </div>
    </div>
    <h3 *ngIf="error">An error occurred loading your orders</h3>
</div>