<div class="business">
    <app-loader *ngIf="loading && !error"></app-loader>
    <div *ngIf="!loading && products.length !== 0 && !error" class="info">
        <button class="back-button" (click)="back()">
            <p>Back</p>
        </button>
        <h1>{{business.name}}</h1>
        <h3>{{address}}</h3>
        <h3 [ngClass]="{'closed': business.operationalStatusId == 2, 'open': business.operationalStatusId == 1}">
            {{operational}}</h3>
    </div>
    <table *ngIf="!loading && products.length !== 0 && !error">
        <tr *ngFor="let product of products" [ngClass]="{'disabled': business.operationalStatusId == 2}">
            <td>{{product.name}}</td>
            <td class="description">{{product.description}}</td>
            <td>R{{product.price}}</td>
            <td class="prep-time">{{product.minPrepareTime}} minutes</td>
            <td (click)="addtoCart(product)"><img class="icon" src="/assets/icons/cart.png" alt="add_to_cart" />
            </td>
        </tr>
    </table>
    <h3 *ngIf="error">There was an error loading this business. Please try again later.</h3>
</div>