@import "../../../../../assets/styles/table.scss";

app-loader {
  position: absolute;
  margin: auto;
  margin-top: 14%;
}

.content {
  text-align: start;
  margin-left: 1%;
  margin-top: 1%;
  min-height: 80vh;
  max-height: 80vh;

  h1 {
    margin-left: 2%;
    margin-block-end: 10px;
  }

  h2 {
    text-align: center;
    padding-top: 4%;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.info {
  margin-left: 1%;

  h3 {
    padding: 5px 10px 5px 10px;
    padding-right: 4%;
    color: var(--primary-dark-blue);
    font-family: var(--secondary-font-family);

    @media (max-width: 500px) {
      padding-right: 3%;
    }
  }
}

.open {
  background-color: var(--primary-success);
  width: 2%;

  @media (max-width: 900px) {width: 3%;}
  @media (max-width: 600px) {width: 4%;}
}

.closed {
  background-color: var(--primary-error);
  width: 3%;

  @media (max-width: 900px) {width: 5%;}
  @media (max-width: 600px) {width: 7%;}
}

.open,
.closed {
  border-radius: 6px;
  color: white !important;
  padding-right: 30px !important;
  margin-left: 1%;
}

.back-button {
  margin-top: 1%;

  p {
    margin-left: 40px;
    color: var(--primary-dark-grey);
    font-family: var(--secondary-font-family);

    &:hover {
      font-size: 14px;
      cursor: pointer;
    }
  }
}

table {
  width: 98%;
  border-spacing: 0 15px;

  .description,
  .prep-time {
    @media (max-width: 670px) {
      display: none;
    }
  }
}
