.image{
    background-image: url('/assets/images/home-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 960px;

    @media(max-width: 1500px){
        height: 760px;
    }

    @media(max-width: 900px){
        height: 440px;
    }

    @media(max-width: 600px){
        background-size: contain;
        height: 340px;
    }

    @media(max-width: 550px){height: 320px;}
    @media(max-width: 500px){height: 290px;}
    @media(max-width: 480px){height: 270px;}
    @media(max-width: 450px){height: 260px;}
    @media(max-width: 430px){height: 250px;}
}

main{
    section{
        scroll-margin: 160px;
        padding: 2% 0;
    }
}

.buttons{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 3%;
    width: 24%;

    @media(max-width: 1500px){
        top: 40%;
    }

    @media(max-width: 900px){
        width: 44%;
        top: 30%;
    }

    @media(max-width: 600px){
        width: 40%;
        top: 22%;
    }

    button{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.2rem;
        margin-top: 5%;
        width: 100%; 

        @media(max-width: 900px){
            font-size: 1rem;
        }

        @media(max-width: 600px){
            font-size: 0.65rem;
            margin: auto;
            margin-top: 3%;
        }
    }
}

.delivery-driver{
    margin-left: 5%;
}