<div class="main">
    <div class="image">
        <div class="buttons">
            <button class="button yellow" (click)="openForm('homeChef')" *ngIf="role == 1">
                Register as a Home Chef
            </button>
            <button class="delivery-driver button yellow" (click)="openForm('driver')" *ngIf="role == 1">
                Register as a Delivery Driver
            </button>
            <button class="button yellow" (click)="changeDisplay('dashboard')" *ngIf="role != 1">
                Go to dashboard
            </button>
        </div>
    </div>
    <section id="services">
        <app-our-services></app-our-services>
    </section>
    <section id="aboutUs">
        <app-about-us></app-about-us>
    </section>
    <section id="categories">
        <app-meal-categories (openCategoryEmitter)="openCategory($event)">
        </app-meal-categories>
    </section>
</div>