@import '../../../../assets/styles/common.scss';
@import '../dashboard.component.scss';

.delivery-dashboard{
  @extend .container;
  margin: auto;

  app-deliveries, app-current-delivery{
    width: 48%;
    max-height: 70vh;
    @extend .white-container;
    @media(max-width: 1000px){
      width: 100%; 
      margin-bottom: 4%;
    }
  }
}