.delivery-dashboard{
    display: flex;
    width: 92%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;

    app-deliveries, app-current-delivery{
        flex-grow: 1;
        margin: 1%;
    }
}