footer{
    padding: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    background-color: var(--primary-dark-blue);

    div{
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;

        ul{
            @media(max-width: 800px){width: 40%}
        }
    }
}

h3{
    color: white;
}

ul li{
    padding: 0.313rem;

    a{
        font-size: 1rem;
        @media(max-width: 600px){font-size: 0.8rem;}
    }
}