<<<<<<< HEAD
@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

footer{
    @extend .green-container;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;

    @media(max-width: 600px){
        padding: 0;
    }
}

img{
    margin-left: 6%;
    width: 600px;

    @media(max-width: 1100px){width: 400px;}
    @media(max-width: 900px){display: none;}
}

h2{
    color: white;
    padding-left: 5px;
    @media(max-width: 900px){font-size: 1.1rem;}
=======
footer{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    background-color: var(--primary-dark-blue);

    div{
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;

        ul{
            @media(max-width: 800px){width: 40%}
        }
    }
}

h3{
    color: white;
>>>>>>> 57ba6553f8b93de297e33165d60a71dd66318974
}

ul li{
    padding: 5px;

    a{
        font-size: 1rem;
        @media(max-width: 600px){font-size: 0.8rem;}
    }
<<<<<<< HEAD
}

.menu-list{
    margin-left: 6%;

    @media(max-width: 1100px){margin-left: 2%;}
    @media(max-width: 900px){margin-left: 0;}
}

.menu-list, .contact-list, .legal-list{
    align-self: flex-start !important;
    text-align: left;

    @media(max-width: 600px){
        padding: 15px;
    }
=======
>>>>>>> 57ba6553f8b93de297e33165d60a71dd66318974
}