@import '../../../assets/styles/variables.css';

footer{
    border: none;
    background-color: var(--primary-green);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;

    @media(max-width: 600px){
        padding: 0;
    }
}

img{
    margin-left: 6%;
    width: 600px;

    @media(max-width: 1100px){width: 400px;}
    @media(max-width: 900px){display: none;}
}

h2{
    font-family: var(--primary-font-family);
    color: white;
    font-size: 1.25rem;
    padding-left: 5px;

    @media(max-width: 600px){
        font-size: 1rem;
    }
}

ul{
    list-style-type: none;
    padding-inline-start: 0;

    li{
        padding: 5px;

        a{
            color: white;
            font-size: 1rem;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;

            @media(max-width: 600px){
                font-size: 0.8rem;
            }
        }

        &:hover{
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.menu-list{
    margin-left: 6%;

    @media(max-width: 1100px){margin-left: 2%;}
    @media(max-width: 900px){margin-left: 0;}
}

.menu-list, .contact-list, .legal-list{
    align-self: flex-start !important;
    text-align: left;

    @media(max-width: 600px){
        padding: 15px;
    }
}