@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

footer{
    @extend .green-container;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;

    @media(max-width: 600px){
        padding: 0;
    }
}

img{
    margin-left: 6%;
    width: 600px;

    @media(max-width: 1100px){width: 400px;}
    @media(max-width: 900px){display: none;}
}

h2{
    color: white;
    padding-left: 5px;
    @media(max-width: 900px){font-size: 1.1rem;}
}

ul li{
    padding: 5px;

    a{
        font-size: 1rem;
        @media(max-width: 600px){font-size: 0.8rem;}
    }
}

.menu-list{
    margin-left: 6%;

    @media(max-width: 1100px){margin-left: 2%;}
    @media(max-width: 900px){margin-left: 0;}
}

.menu-list, .contact-list, .legal-list{
    align-self: flex-start !important;
    text-align: left;

    @media(max-width: 600px){
        padding: 15px;
    }
}