@import '../../../assets/styles/variables.scss';

.snackbar-container{
    position: fixed;
    margin: auto;
    top: 8%;
    width: 100%;
    z-index: 200;

    @media(max-width: 900px){top: 9%;}
}

#snackbar {
    visibility: hidden;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    width: 55%;
    display: flex;
    justify-content: center;

    h4{
        color: var(--primary-dark-blue);
        font-family: var(--secondary-font-family);
        margin-block-end: 0.8rem;
        margin-block-start: 0.8rem;
        text-decoration: none;
        font-weight: normal;
    }
}

.snackbar-error{
    background-color: rgb(223, 79, 79) !important;

    h4{
        color: white !important;
    }
}

.snackbar-success{
    background-color: rgb(93, 173, 93) !important;

    h4{
        color: white !important;
    }
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s;
}

#snackbar.hide {
    animation: fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}