@import '../../../../../assets/styles/common.scss';

h1{
    text-align: center;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;

    div{
        width: 240px;
        height: 240px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px 20px 10px 20px;
        flex-grow: 1;
        @extend .flex-container;
        box-shadow: var(--primary-box-shadow);

        @media(max-width: 900px){
            width: 100px;
            height: 100px;
            margin: 10px 15px 10px 15px;
        }

        h2{
            background-color: white;
            width: 100%;
            padding: 10px;
            text-align: center;

            @media(max-width: 900px){font-size: 1.1rem;}
        }

        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
    }
}