.dashboard{
    width: 100%;
    min-height: 80vh;
    position: relative;

    .headings{
        width: 90%;
        margin: 8% auto auto;
    }

    .business-name{
        margin-bottom: 0px;
    }

    .user-name{
        color: grey;
        font-size: 2rem;
        margin-top: 0px;

        @media(max-width: 850px){font-size: 1.2rem;}
    }
}

.home-chef{
    width: 90%;
    margin: 2% auto auto;
}

.spacer{
    width: 2%;
}