.dashboard{
    width: 100%;
    height: 100%;
    position: relative;

    .headings{
        width: 90%;
        margin: auto;
        margin-top: 8%;

        @media(max-width: 1200px){margin-top: 10%;}
        @media(max-width: 1000px){margin-top: 12%;}
        @media(max-width: 850px){margin-top: 14%;}
        @media(max-width: 580px){margin-top: 16%;}
    }

    .business-name{
        margin-bottom: 0px;
    }

    .user-name{
        color: grey;
        font-size: 2rem;
        margin-top: 0px;

        @media(max-width: 850px){font-size: 1.2rem;}
    }
}

.home-chef{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

.spacer{
    width: 2%;
}