<app-header></app-header>

<main>
    <div class="headings">
        <h1 class="business-name" *ngIf="role == 2">{{businessName}}</h1>
        <h1 class="user-name">{{userName}}</h1>
    </div>
    <app-stats [stats]="stats"></app-stats>
    <div *ngIf="role == 2" class="home-chef">
        <app-meals (openModalEmitter)="openModal('meal')"></app-meals>
        <div class="spacer"></div>
        <app-orders></app-orders>
    </div>
    <div *ngIf="role == 3" class="deliveries">

    </div>
</main>
<app-add-meal *ngIf="addMealModal" (closeModalEmitter)="closeModal('meal')"></app-add-meal>
<app-snackbar></app-snackbar>