@import '../../../../assets/styles/common.css';

.service-container{
    width: 100%;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    padding-inline-start: 0;

    @media(max-width: 850px){
        flex-direction: column;
    }
}

ul li{
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
    @media(min-width: 860px){height: 320px;}
}

.card{
    background-color: white;
    width: 25%;
    padding: 20px;
    text-align: center;
    border: 3px solid var(--primary-yellow);
    @media(max-width: 850px){width: 80%;}
}

.spacer{
    width: 3% !important;
    @media(max-width: 850px){display: none;}
}

p{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}

.circle{
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: auto;
}

img{
    margin-top: 16px;
}