@import './assets/styles/variables.scss';

body, html{
    padding: 0;
    margin: 0;
    background-color: var(--primary-light-grey);
    width: 100%;
    height: 100%;
}

html{
    min-height: 100%; 
    position: relative;
}

*:focus {
    outline: 0 !important;
}