<div class="cart-container">
    <div>
        <img class="close" src="/assets/icons/grey-icons/close.svg" alt="close" (click)="closeCart()" />
        <div *ngIf="cart.length != 0" class="items">
            <div class="cart-item" *ngFor="let item of cart">
                <h4>{{item.product.name}}</h4>
                <h4>{{item.quantity}}</h4>
                <h4>R{{item.product.price * item.quantity}}</h4>
                <img src="/assets/icons/grey-icons/trash.svg" alt="delete" (click)="removeCartItem(item)" />
            </div>
        </div>
        <button *ngIf="cart.length != 0" class="checkout">Checkout</button>
    </div>
    <div class="empty" *ngIf="cart.length==0">
        <h4>There are no items in your cart.</h4>
    </div>
</div>