@import "../../../../assets/styles/common.scss";

.cart-container {
  @extend .white-container;
  width: 30%;
  top: 8%;
  position: absolute;
  left: 3%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 200;
  text-align: initial;

  @media (max-width: 1100px) {width: 35%;}

  .buttons {
    margin-top: 6%;
    margin-bottom: 4%;
    flex-direction: row;

    button {
      width: 40%;
      margin: auto;
      color: white;
    }
  }

  .close {
    width: 1.6rem;
    margin: 4% 4% 1% auto;
  }

  .items {
    overflow-y: scroll;
  }

  div {
    width: 100%;
    max-height: 18rem;
    min-height: auto;
    display: flex;
    flex-direction: column;

    .cart-item {
      flex-direction: row;
      justify-content: space-around;
      width: 90%;
      margin: auto;
    }
  }
}
