@import '../../../../assets/styles/common.scss';

.cart-container{
    @extend .white-container;
    width: 25%;
    top: 6%;
    position: absolute;
    left: 3%;   
    padding-top: 0;
    padding-bottom: 0;
    z-index: 200;
    text-align: initial;

    .buttons{
        margin-top: 6%;
        margin-bottom: 4%;
        display: flex;
        flex-direction: row;

        button{
            width: 40%;
            margin: auto;
            font-family: var(--primary-font-family);
            color: white;
            
            &:hover{
                box-shadow: var(--primary-box-shadow);
                cursor: pointer;
            }
        }
    }

    .close{
        width: 25px;
        margin-bottom: 1%;
        margin-top: 4%;
        margin-right: 4%;
        align-self: flex-end;

        &:hover{
            width: 27px;
            cursor: pointer;
        }
    }

    .items{
        overflow-y: scroll;
    }

    div{
        width: 100%;
        max-height: 18rem;
        min-height: auto;
        display: flex;
        flex-direction: column;

        .cart-item{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 90%;
            margin: auto;

            h4:hover{
                cursor: default;
            }

            img{
                height: 45px;
                width: 40px;
                display: flex;
                align-self: center;
            }

            img:hover{
                cursor: pointer;
            }
        }
    }

    .empty{
        h4{
            text-align: center;
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}