@import '../../../../../assets/styles/common.scss';

.service-container{
    width: 100%;
    @extend .flex-container;
}

ul{
    @extend .flex-container;
    margin-left: 2%;

    @media(max-width: 800px){
        flex-direction: column;
    }

    li{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        height: 31.25rem;
        @media(max-width: 900px){height: 16.25rem;}
        @media(max-width: 800px){height: 16.25rem; margin-bottom: 4%;}
        &:hover{
            font-weight: normal;
            cursor: default;
        }
    }
}

.card{
    background-color: white;
    width: 25%;
    padding: 1.25;
    text-align: center;
    box-shadow: var(--primary-box-shadow);
    @media(max-width: 800px){
        width: 85%;
        padding: 0.625rem;
    }

    p{
        font-family: var(--secondary-font-family);
        padding: 1rem;
        font-weight: normal;
        font-size: 1.3rem;
        @media(max-width: 900px){font-size: 1rem;}
    }
}

.spacer{
    width: 3%;
    @media(max-width: 800px){display: none !important;}
}

.circle{
    background-color: #dceaeb;
    border-radius: 50%;
    width: 8.75rem;
    height: 8.75rem;
    margin: auto;

    @media(max-width: 900px){
        width: 6.25rem;
        height: 6.25rem;
    }

    img{
        margin-top: 1rem;
        @media(max-width: 900px){width: 4.375rem}
    }
}