@import '../../../../../assets/styles/common.scss';

.service-container{
    width: 100%;
    display: flex;
    align-items: center;
}

ul{
    @extend .flex-container;
    margin-left: 2%;

    @media(max-width: 800px){
        flex-direction: column;
    }

    li{
        display: inline;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 320px;
        @media(max-width: 900px){height: 260px;}
        @media(max-width: 800px){height: 200px; margin-bottom: 4%;}
        &:hover{
            font-weight: normal;
            cursor: default;
        }
    }
}

.card{
    background-color: white;
    width: 25%;
    padding: 20px;
    text-align: center;
    box-shadow: var(--primary-box-shadow);
    @media(max-width: 800px){width: 85%;}

    p{
        font-size: 1.3rem;
        font-family: var(--secondary-font-family);
        padding: 16px;
        @media(max-width: 900px){font-size: 1rem;}
    }
}

.spacer{
    width: 3%;
    @media(max-width: 800px){display: none !important;}
}

.circle{
    background-color: #dceaeb;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: auto;

    @media(max-width: 900px){
        width: 100px;
        height: 100px;
    }

    img{
        margin-top: 16px;
        @media(max-width: 900px){width: 70px}
    }
}