<div class="service-container">
    <ul>
        <li class="card">
            <div class="circle">
                <img src="assets/images/oven.png" alt="food" />
            </div>
            <p>Order amazing home-made meals from a wide range of local and internationally inspired dishes</p>
        </li>
        <li class="spacer"></li>
        <li class="card">
            <div class="circle">
                <img src="assets/images/home.png" alt="home" />
            </div>
            <p>Help fellow South Africans who have lost a source of income provide for their families</p>
        </li>
        <li class="spacer"></li>
        <li class="card">
            <div class="circle">
                <img src="assets/images/deliver.png" alt="delivery" />
            </div>
            <p>Incredible meals will be delivered directly to your door</p>
        </li>
    </ul>
</div>