@import '../../../../../assets/styles/variables.scss';

.orders-container{
    box-shadow: var(--primary-box-shadow);
    border-radius: 6px;
    background-color: white;
    height: 100%;
    width: 100%;
}