<div class="container">
    <h1>WHO WE ARE</h1>
    <div class="text">
        <h3>
            <h2>FEED<h1>ME</h1>
            </h2> comprises of a range of people providing wholesome home-cooked meals, delivered directly to your door.
            Due to lockdown many people have been face with companies closing, job loses, and salary reductions. Our aim
            is to create a platform to empower people to earn a living and provide for their families.

            <br /><br /><br /><br />The <h2>FEED<h1>ME</h1>
            </h2> philosophy is inline with that on an NPO, thereby allowing these home chefs and delivery personal
            to benefit 100% financially.

            <br /><br /><br /><br />All food providers are stringintly vetted to ensure that only the best quality food
            and service is provided.
        </h3>
    </div>
</div>