.home-chef-dashboard{
    display: flex;
    width: 92%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;

    app-products, app-orders{
        flex-grow: 1;
        margin: 1%;
    }
}

app-loader{
    margin: auto;
    margin-top: 4%;
}