@import '../../../../../assets/styles/common.scss';
@import '../../../../../assets/styles/forms.scss';

.profile{
    width: 100%;
    @extend .flex-container;

    .flex-container{width: 95%;}
}

.form-container{
    @extend .white-container;
}

.error{
    margin-top: 3%;
}