@import '../../../../assets/styles/common.scss';

.main{
    width: 100%;
    margin: 2% auto 2% auto;
    min-height: 80vh;
    max-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.nav{
    width: 22%;
    border-right: 2px solid grey;
    @media(max-width: 750px){
        width: 12%;
        border-right: none;
    }

    a{
        color: black !important;
        @media(max-width: 750px){display: none;}
    }

    ul{
        margin-top: 20%;
        li{
            margin-bottom: 18%;
            img{
                display: none;
                margin: auto;
                width: 2rem;
                @media(max-width: 750px){
                    padding-top: 0.5rem;
                    display: block;
                }
            }

            @media(max-width: 750px){
                border-radius: 50%;
                background-color: var(--primary-light-blue);
                width: 3rem;
                height: 3rem;
                margin: auto;
                margin-bottom: 14%;
            }
        }
    }
}

.items{
    width: 78%;
    overflow: scroll;
    @media(max-width: 750px){width: 88%;}
}