@import '../../../../assets/styles/common.scss';

.main{
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
    min-height: 80vh;
    max-height: 80vh;
    text-align: center;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.nav{
    width: 22%;
    border-right: 2px solid grey;
    a{
        color: black !important;
    }

    ul{
        margin-top: 20%;
        li{
            margin-bottom: 18%;
        }
    }
}

.items{
    width: 78%;
}