@import '../../../../../assets/styles/table.scss';
@import '../../../../../assets/styles/common.scss';

.current-delivery{
    border-radius: 6px;
    @extend .white-container;
    text-align: center;
    padding: 25px;
    margin-top: 2%;

    h2, td{
        font-family: var(--secondary-font-family);
    }
}

// .deliveries-table{
//     overflow-y: scroll;
//     width: 100%;

//     table{
//         width: 95%;
//         max-height: 40vh;
//         border-spacing: 0 8px;
//     }

//     tr {
//         background-color: rgb(240, 240, 240);
//     }
// }
