@import '../../../../../assets/styles/common.scss';
@import '../../../../../assets/styles/map.scss';

.current-delivery{
    width: 100%;
    padding-bottom: 4%;

    h2{
        font-family: var(--secondary-font-family);
    }
}
