@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/variables.scss';

.side-nav{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--primary-green);

    .close{
        width: 40px;
        float: right;
        padding-right: 20px;
        margin-top: 4%;
    }

    ul li{
        padding-top: 8%;
        display: flex;
        align-items: center;

        a{
            font-family: var(--primary-font-family);
            font-size: 1.1rem;
            padding-left: 10%;
        }

        img{
            width:30px;
        }
    }
}

.logo{
    width: 250px;
}