@import '../../../assets/styles/variables.css';

header{
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    background-color: var(--primary-green);
    width: 100%;
    display: flex;
    align-items: center;
}

img{
    display: inline;
    width: 400px;
}

ul{
    margin-left: 6%;
}

ul li{
    display: inline;
    padding: 18px;
}

ul li a{
    font-family: var(--primary-font-family);
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

ul li a:hover{
    font-weight: bold;
    cursor: pointer;
}