<header>
    <img src="../../../assets/logo/logo.png" alt="feedME_logo" />
    <ul class="top-nav">
        <li>
            <a [routerLink]="'/home'">Home</a>
        </li>
        <li>
            <a (click)="scroll('categories')">Meal Categories</a>
        </li>
        <li *ngIf="userRole === 'HomeChef'">
            <a>Home Chef</a>
        </li>
        <li *ngIf="userRole === 'Delivery'">
            <a>Deliveries</a>
        </li>
        <li>
            <a>Account</a>
        </li>
        <li>
            <a (click)="logout()">Logout</a>
        </li>
    </ul>
    <div *ngIf="!display" id="burger-menu" (click)="openNav()">
        <img src="../../../assets/icons/white-icons/menu.png" alt="menu" />
    </div>
</header>