<header #header>
    <div class="container">
        <nav>
            <div class="menu-icons open" (click)="openNav()">
                <img src="../../../assets/icons/white-icons/menu.png" alt="menu" />
            </div>
            <ul class="nav-list" #nav>
                <div class="menu-icons closed" (click)="closeNav()">
                    <img src="../../../assets/icons/white-icons/close.png" alt="menu" />
                </div>
                <li>
                    <img src="/assets/icons/white-icons/home.png" alt="home" /><a
                        (click)="changeDisplay('main')">Home</a>
                </li>
                <li *ngIf="userRole === 2">
                    <img src="/assets/icons/white-icons/dashboard.png" alt="dashboard" /><a
                        (click)="changeDisplay('dashboard')">Home Chef</a>
                </li>
                <li *ngIf="userRole === 3">
                    <img src="/assets/icons/white-icons/dashboard.png" alt="dashboard" /><a
                        (click)="changeDisplay('dashboard')">Deliveries</a>
                </li>
                <li>
                    <img src="/assets/icons/white-icons/cart.png" alt="cart" /><a (click)="openCart()">Cart</a>
                </li>
                <li>
                    <img src="/assets/icons/white-icons/profile.png" alt="profile" /><a
                        (click)="changeDisplay('account')">Account</a>
                </li>
                <li>
                    <img src="/assets/icons/white-icons/logout.png" alt="logout" /><a (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>