@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

header{
    position: relative;
    z-index: 3;
    height: 10%;
    background-color: var(--primary-dark-blue);

    #burger-menu{
        display: none;
    }

    @media(max-width: 900px){
        .top-nav{display: none;}
        #burger-menu{display: block;}
        height: 8%;
    }
}

.cart{
    width: 30px;
}

.top-nav{
    position: absolute;
    right: 4%;
    bottom: 28%;

    li{
        display: inline;
        padding: 22px;

        a{
            font-family: var(--primary-font-family);
            font-size: 1.1rem;
        }
    }
}

#burger-menu {
    width: 100%;

    img{
        width: 40px;
        float: right;
        padding-right: 20px;
        padding-top: 12px;
    }
}