<header>
  <nav>
    <img src="../../../assets/icons/menu.png" alt="menu" class="menu-icons open" (click)="openNav()" />
    <ul class="nav-list" #nav>
      <img src="../../../assets/icons/close.png" alt="close" class="menu-icons closed" (click)="closeNav()" />
      <li class="spacer"></li>
      <li>
        <img src="/assets/icons/home.png" alt="home" class="icon" /><a (click)="navigate('home')">Home</a>
      </li>
      <li *ngIf="authService.getCurrentRole() === 3">
        <img src="/assets/icons/dashboard.png" alt="dashboard" class="icon" /><a (click)="navigate('dashboard')">Home
          Chef</a>
      </li>
      <li *ngIf="authService.getCurrentRole() === 2">
        <img src="/assets/icons/dashboard.png" alt="dashboard" class="icon" /><a
          (click)="navigate('dashboard')">Deliveries</a>
      </li>
      <li *ngIf="authService.getCurrentRole() != 1">
        <img src="/assets/icons/cart2.png" alt="cart" class="icon" /><a (click)="openCart()">Cart</a>
      </li>
      <li>
        <img src="/assets/icons/profile.png" alt="profile" class="icon" /><a (click)="navigate('account')">Account</a>
      </li>
      <li>
        <img src="/assets/icons/logout.png" alt="logout" class="icon" /><a (click)="logout()">Logout</a>
      </li>

      <li
        *ngIf="authService.getCurrentRole() != 1 && authService.getCurrentRole() != 2 && authService.getCurrentRole() != 3"
        class="buttons">
        <button (click)="openForm('homeChef')" class="button yellow home-chef">
          Register as a Home Chef
        </button>
        <button (click)="openForm('driver')" class="button yellow driver">
          Register as a Driver
        </button>
      </li>
    </ul>
  </nav>
</header>