.full-height{
    height: 100vh !important;
}

header{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--primary-dark-blue);

    @media(max-width: 800px){height: 8%;}
    @media(max-width: 500px){height: 3%;}

    .container{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;

        .open, .closed{
            margin-left: 1rem;
        }

        .closed{
            padding-bottom: 2%;
            margin-top: 1rem;
        }

        nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;

            .nav-list{
                width: 100%;
                top: initial;
                left: 0;
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
    
                li{
                    margin: 0 2rem;

                    a{
                        position: relative;
                        @media(max-width: 800px){
                            font-size: 1.4rem;
                            margin-left: 2rem;
                        }
                        @media(max-width: 600px){font-size: 1rem;}
                    }

                    display: flex;
                    align-items: center;

                    img{
                        display: none;
                        width: 35px;
                        @media(max-width: 800px){
                            display: inline;
                            width: 30px;
                        }
                        @media(max-width: 500px){width: 25px;}
                    }

                    &:first-child{
                        margin-top: 4%;
                    }
                }

                @media(max-width: 800px){
                    width: 100%;
                    position: fixed;
                    top: 0;
                    left: -200rem;
                    flex-direction: column;
                    z-index: 10;
                    transition: all 650ms ease-in-out;
                    background-color: var(--primary-dark-blue);
                    
                    margin-block-start: 0;
        
                    li{
                        margin-left: 8%;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.menu-icons {
    display: none;
    cursor: pointer;
    img{
        width: 2rem;
    }

    @media(max-width: 800px){display: block;}
}