@import '../../../assets/styles/variables.css';

header{
    position: fixed;
    border: none;
    background-color: var(--primary-green);
    width: 100%;
    display: flex;
    align-items: center;
}

img{
    display: inline;
    width: 380px;
}

ul{
    position: absolute;
    right: 4%;
    bottom: 28%;
}

ul li{
    display: inline;
    padding: 22px;
}

ul li a{
    font-family: var(--primary-font-family);
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

ul li a:hover{
    font-weight: bold;
    cursor: pointer;
}