@import '../../../assets/styles/common.scss';
@import '../../../assets/styles/forms.scss';

.form-container{
    width: 60%;
    @extend .white-container;

    @media(max-width: 850px){
        width: 100%;
        height: 100%;
        padding: 0;
        background-image: url('/assets/images/login-signup.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .controls{
        display: inline;
        margin-left: 2%;
    }
}

input{
    @extend .form-input;
    width: 38%;

    @media(max-width: 600px){
        width: 70%;
        margin-top: 3%;
    }

    @media(max-height: 850px) and (min-width: 600px){
        width: 50%;
        margin-top: 3%;
    }
}

.error{
    margin-top: 3%;
}

.login-signup-image{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/login-signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}