@import '../../../assets/styles/common.scss';

.form-container{
    width: 60%;
    @extend .white-container;

    @media(max-width: 850px){
        width: 100%;
        height: 100%;
        padding: 0;
        background-image: url('/assets/images/login-signup.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

input{
    @media(max-height: 850px) and (min-width: 600px){width: 38%;}
}

.error{
    margin-top: 3%;
}