@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

.form-container{
    width: 60%;
    @extend .white-container;

    @media(max-width: 850px){
        width: 100%;
        height: 80%;
        padding: 0;
    }

    .controls{
        display: inline;
        margin-left: 2%;
    }
}

input{
    @extend .form-input;
    width: 38%;

    @media(max-width: 850px){
        width: 70%;
        margin-top: 3%;
    }
    @media(max-height: 850px){
        width: 50%;
        margin-top: 3%;
    }
}

button[type="submit"]{
    width: 38%;
    @extend .submit-button;

    &:disabled{
        background-color: rgb(167, 167, 167);
        color: white;

        &:hover{
            box-shadow: none;
        }
    }
}

.error{
    margin-top: 3%;
}

.login-signup-image{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/login-signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}